<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">

    <title>Portal</title>

</head>

<body>

    <form  method="POST">
        {%csrf_token%}
        <ul>Fist Name: {{form.first_name}}</ul>
        <ul>Last Name: {{form.last_name}}</ul>
        <ul>Organisation Email: {{form.email}}</ul>
        <ul> Organisation Name:{{form.organisation}}</ul>
        <ul>Country: {{form.country}}</ul>
        <ul>Number: {{form.phone_number}}</ul>
        <ul>Gender: {{form.gender}}</ul>
        <ul>Domain: {{form.domain}}</ul>
        <ul>Organisation Size: {{form.organisation_size}}</ul>
        
        
        <ul><button  type="submit">Submit</button></ul>
        
    </form>
 
</body>